@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Darumadrop One', sans-serif;
}

.btn {
    font-family: 'Darumadrop One', sans-serif;
    border: none !important;
}

.btn-info {
    background-color: #86ade3 !important;
}

.btn-danger {
    background-color: #ee6772 !important;
}

p {
    margin: 0;
}

table i.material-icons {
    font-size: 1rem;
}

tr {
    transition: transform 0.5s;
    cursor: pointer;
}

td {
    vertical-align: middle;
}

tr:nth-child(even) td {
    background-color: #f2f2f2;
}

tr:hover {
    transform: rotate(0.5deg);
    box-shadow: 2px 2px lightgray;
}

.no-hover:hover,
.no-hover:focus  {
    background-color: inherit !important;
    color: gray !important;
    text-decoration: none;
    box-shadow: none !important;
}
