#home-container {
    padding-top: 15vh;
    padding-bottom: 10vh;
}

.date {
    font-size: .75rem;
    
    span {
        opacity: .75;
    }
}

.modal-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 800px) {
    #home-container {
        padding: 15vh 20px 10vh 20px;
    }
}