#register-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 800px) {
    #register-container {
        padding: 20px;
    }
}