@use 'base/reset';
@use 'pages/login';
@use 'pages/register';
@use 'layout/header';
@use 'pages/home';
@use 'pages/game';
@use 'pages/play';
@use 'pages/help';
@use 'layout/footer';

@import 'bootswatch/dist/litera/bootstrap.min.css';

body {
    min-height: 100vh;
    position: relative;
}

@media (min-width: 800px) {
    body {
        width: 75%;
        margin: auto;
    }
}